<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>net10.0</TargetFramework>
    <EnableDefaultCompileItems>false</EnableDefaultCompileItems>
    <AllowUnsafeBlocks>true</AllowUnsafeBlocks>
  </PropertyGroup>
  <ItemGroup>
    <Compile Include="**/*.cs" Exclude="obj/**" />
    <ProjectReference Include="../src/FFVM/FFVM.csproj" />
    <None Include="sandbox.json" CopyToOutputDirectory="PreserveNewest" />
    <None Include="sandbox.ffvm.d.json" CopyToOutputDirectory="PreserveNewest" />
    <None Include="scripts/**" CopyToOutputDirectory="PreserveNewest" LinkBase="scripts" />
  </ItemGroup>
</Project>
