{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "build-kof98",
            "type": "shell",
            "command": "dotnet",
            "args": [
                "build",
                "${workspaceFolder}/KOF98/KOF98.csproj",
                "-c",
                "Debug"
            ],
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "problemMatcher": "$msCompile"
        }
    ]
}
