{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "KOF98_CS: C# Debug (Raylib)",
            "type": "coreclr",
            "request": "launch",
            "program": "${workspaceFolder}/bin/Debug/__NET_TFM__/KOF98_CS",
            "args": ["--raylib"],
            "cwd": "${workspaceFolder}",
            "console": "integratedTerminal",
            "preLaunchTask": "build-kof98_cs"
        },
        {
            "name": "KOF98_CS: C# Debug (Console)",
            "type": "coreclr",
            "request": "launch",
            "program": "${workspaceFolder}/bin/Debug/__NET_TFM__/KOF98_CS",
            "args": [],
            "cwd": "${workspaceFolder}",
            "console": "integratedTerminal",
            "preLaunchTask": "build-kof98_cs"
        },
        {
            "name": "KOF98_CS: C# Debug (Headless 600 frames)",
            "type": "coreclr",
            "request": "launch",
            "program": "${workspaceFolder}/bin/Debug/__NET_TFM__/KOF98_CS",
            "args": ["--headless", "--frames", "600"],
            "cwd": "${workspaceFolder}",
            "console": "integratedTerminal",
            "preLaunchTask": "build-kof98_cs"
        }
    ]
}
