{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "build-kof98_cs",
            "command": "dotnet",
            "type": "process",
            "args": [
                "build",
                "${workspaceFolder}/KOF98_CS.csproj",
                "/property:GenerateFullPaths=true",
                "/consoleloggerparameters:NoSummary"
            ],
            "problemMatcher": "$msCompile"
        }
    ]
}
